.pg-conta-smartfan {
    .row {
        width: 100%;
    }

    .dados-conta {

        .avatar-wrapper {
            @include flex(row, center, center, center);
            position: relative;
            margin-bottom: 3.2rem;

            &-img {
                height: 12.4rem;
                width: 12.4rem;
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }
            }

            &-edit {
                background: $white-01;
                padding: .4rem;
                border-radius: 50%;
                display: inline-block;
                @include absolute(auto, 0, 0, auto);
                transition: $transition-01;

                span {
                    color: $gray-02;
                }

                &:hover {
                    span {
                        color: $secondary-02;
                    }
                }
            }
        }

        .container-btn {
            margin-top: 1.6rem;
        }
    }
}