.header-login {
    margin-bottom: 0;

    --header-login-height: 8rem;

    height: var(--header-login-height);
    @include flex(row, center, center, center);

    .row {
        @include flex(row, center, center, center);
    }

    .header-list {
        @include flex(row, space-between, center, center);

        .logo {
            a {
                display: inline-block;

                img {
                    height: 4.5rem;
                }
            }
        }

        @include md {
            .logo {
                a {
                    img {
                        height: 4rem;
                    }
                }
            }

            h2 {
                font-size: 2.4rem;
            }
        }

        @include sm {
            .logo {
                a {
                    img {
                        height: 3.2rem;
                    }
                }
            }

            .column-2 {
                width: 50%;
            }
        }
    }
}

.footer-login {
    background: $white-01;
    border: none;
    padding: 1.2rem 0;

    .powered-smv {
        text-align: center;
        height: 3.2rem;

        a {
            display: inline-block;
            height: 100%;

            img {
                height: 100%;
                width: auto;
            }
        }
    }
}

.pg-login {
    position: relative;
    @include flex(column, center, center, center);

    .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }


    .section-login {
        padding-top: 2.4rem;
        z-index: 1;

        .row {
            @include flex(row, center, center, center);
        }

        .login-wrapper {
            @include flex(row, space-between, flex-end, flex-end);
            flex-wrap: wrap;

            @include md {
                @include flex(column, center, center, center);
            }
        }

        .column-1 {
            p {
                // width: 80%;
                font-family: $font-02;
                @include font(8rem, 400, 1.2em);
                color: $white-01;
                letter-spacing: 0;
                text-transform: uppercase;
                @include flex(column, flex-start, flex-start, flex-start);

                span {
                    position: relative;
                    z-index: 1;
                    margin-top: .4rem;
                }
            }

            @include md {
                p {
                    font-size: 4.8rem;

                    span {
                        display: block;
                    }
                }
            }

            @include sm {
                padding-bottom: 4rem;

                p {
                    font-size: 4rem;
                    line-height: 1.4em;
                }
            }
        }

        .column-login {
            background-color: $white-01;
            box-shadow: 0px -4px 18px 0px rgba(33, 33, 33, 0.8);
            padding: 2.4rem 4rem 5.6rem;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            position: relative;

            h1 {
                text-align: center;
                color: $secondary-02;
            }

            form {
                label {
                    color: $secondary-02;
                }
            }

            .container-btn {
                @include flex(column, flex-start, center, center);
                flex-wrap: wrap;
                margin-bottom: 2.4rem;

                .btn {
                    max-height: 4.6rem;
                }

                .btn-link {
                    margin-bottom: 2.4rem;
                }
            }

            .registo-btn {
                .btn {
                    max-height: 4.6rem;
                }
            }

            h2 {
                color: $primary-02;
                margin-bottom: 2.4rem;
                position: relative;
                text-align: center;

                padding-top: 2.4rem;

                &:before {
                    content: '';
                    width: 50%;
                    height: 1px;
                    background-color: $gray-01;
                    @include absolute(0, auto, auto, 25%);
                }
            }

            .forma-bg {
                width: 100%;
                @include absolute(auto, auto, 0, 0);
                transform: translateY(110%);

                img {
                    width: 100%;
                }
            }

            @include sm {
                padding: 2.4rem 1.6rem 8rem;
            }
        }
    }

    .section-beneficios {
        width: 100%;
        position: relative;
        padding-top: 6rem;
        padding-bottom: 2.4rem;

        z-index: 3;

        .row {
            @include flex(column, center, center, center);
            padding-top: 8rem;
            z-index: 1;
            position: relative;
        }

        h2 {
            width: auto;
            margin: 0 auto;
            @include font(3.2rem, 400, 1.2em);
            color: $white-01;
            text-align: center;
            padding: 1.2rem 2.4rem .8rem;
            border-radius: 2rem;
            background-color: $primary-02;
        }

        .beneficios-list {
            @include flex(row, space-between, flex-start, flex-start);
            flex-wrap: wrap;
            padding: 3rem 0;
            margin-bottom: 1.6rem;

            li {
                @include flex(column, center, center, center);
                color: $white-01;
                transition: all .3s ease-out;

                i {
                    margin-bottom: 3.2rem;
                    background-color: $primary-02;
                    border-radius: 50%;
                    padding: 1.6rem;
                    position: relative;

                    .check {
                        width: 5rem;
                        height: 5rem;
                        @include absolute(-1.6rem, -1.6rem, auto, auto);

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                span {
                    font-size: 9.6rem;
                }

                h3 {
                    max-width: 37rem;
                    font-size: 2.4rem;
                    text-align: center;
                    letter-spacing: 0;
                }
            }
        }

        .nota-rodape {
            width: 100%;
            text-align: center;
            @include font(1.2rem, 400, 1.4rem);
            color: $gray-01;
            text-transform: uppercase;
            // margin-top: .4rem;
        }

        @include md {
            .beneficios-list {
                margin-bottom: 0;
                padding: 4rem 0;
                margin-bottom: 0;

                .row {
                    @include flex(column, flex-start, flex-end, flex-end);
                }

                li {
                    margin-bottom: 2.4rem;
                    width: 50%;
                }
            }
        }

        @include sm {
            padding-top: 0rem;
            margin-top: 0rem;

            .beneficios-list {
                padding: 1.6rem 0;
                margin-bottom: 0rem;
                @include flex(column, flex-start, center, center);

                li {
                    width: 100%;
                    margin: 2.4rem 0;
                }
            }

            .background-img {
                img {
                    object-position: top left;
                }
            }
        }

    }

    .background-forma {
        width: 100%;
        height: 85%;
        @include absolute(auto, auto, 0, 0);
        z-index: 0;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .background-img {
        width: 100%;
        height: 100%;
        @include absolute(0, auto, auto, 0);
        z-index: -1;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.pg-final-registo {
    padding-top: 3rem;

    .section-final-registo {
        h1 {
            text-align: center;
            margin-bottom: 3rem;
        }

        .row {
            @include flex(row, center, center, center);
        }

        .container-btn {
            @include flex(column, flex-start, center, center);
            flex-wrap: wrap;
            margin-top: 2.4rem;
        }
    }
}