.pg-criar-conta {
    text-align: center;

    .navbar {
        &-item {
            a {
                font-weight: 400;

                strong {
                    font-weight: 900;
                    margin-left: .4rem;
                }
            }
        }
    }

    .clube-coracao {
        width: 100%;
        margin-bottom: 1.6rem;

        h3 {
            font-size: 2rem;
        }

        a {
            &:hover {
                span {
                    color: $gray-04;
                }
            }
        }

        &-img {
            margin-bottom: 1.6rem;

            // border-color: var(--color-clube);
            border-color: $secondary-02;

            i {
                // background-color: var(--color-clube);
                background-color: $secondary-02;
            }
        }

        p {
            text-align: center;
        }

        h4 {
            color: $gray-04;
            text-align: center;
        }
    }

    .seguir-clubes {
        margin: 1.6rem 0;
    }

    form {
        .container-input {
            justify-content: space-between;

            .info-cartao {
                @include absolute(1.6rem, 1.6rem, auto, auto);
                display: inline-block;
                cursor: pointer;

                span {
                    font-size: 2rem;
                    color: $gray-04;
                }

                .member-card {
                    width: 35rem;
                    height: auto;
                    z-index: 22;
                    @include absolute(0, auto, auto, 0);
                    transform: translate(-100%, 0);
                    display: none;
                    transition: all .3s ease-in-out;
                    animation-name: animation-card;
                    animation-duration: .4s;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 1rem;
                    }
                }

                &:hover {
                    .member-card {
                        display: inline-block;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }

    .form-aviso {
        width: 100%;
        padding: 0.8rem 1.6rem;
        @include font(1.6rem, 400, 1.2em);
        color: $gray-04;
        text-align: right;
    }

    .captcha {
        width: 100%;
        text-align: center;

        img {
            width: auto;
            height: auto;
            max-height: 8rem;
            max-width: 100%;
        }
    }

    &.socio {
        .clube-coracao {

            h4 {
                color: var(--color-clube);
            }
        }
    }
}