.footer-registo {
    background: none;
    border: none;
    padding-bottom: 2rem;
    padding-top: 45rem;
    position: relative;

    .powered-smv {
        text-align: center;
        height: 3.2rem;
        z-index: 2;

        a {
            display: inline-block;
            height: 100%;

            img {
                height: 100%;
                width: auto;
            }
        }
    }


    .background-img {
        width: 100%;
        @include absolute(auto, auto, 0, 0);
        z-index: 0;

        img {
            width: 100%;
            max-height: 50rem;
            object-position: bottom;
            object-fit: cover;
        }

        @include md {
            img {
                height: 23rem;
            }
        }
    }

    @include md {
        padding-top: 15rem;
    }
}

.pg-registo {
    padding-top: 1.6rem;

    .row {
        @include flex(row, flex-start, flex-start, flex-start);
    }

    .column-login {
        h1 {
            text-align: center;
            color: $secondary-02;
            margin-bottom: 1.6rem;
        }

        .tab-content {
            padding-top: 1.6rem;

            form {
                margin: 0 auto;

                label {
                    color: $secondary-02;
                }
            }

            .escolher-clube {
                @include flex(row, center, center, center);
                cursor: pointer;
                padding: 1.6rem 0 2.6rem;

                i {
                    width: 3.2rem;
                    height: 3.2rem;
                    display: inline-block;
                }

                h3 {
                    letter-spacing: 0;
                    color: $gray-02;
                    margin: 0 .8rem;
                }
            }

            .ultimos-digitos {
                @include flex(row, space-between, center, center);

                input {
                    width: 19%;
                }
            }

            .container-btn {
                @include flex(column, center, center, center);
                margin-top: 2.4rem;

                .btn {
                    &:hover {
                        i {
                            animation: none;
                        }
                    }
                }

                .btn-link {
                    margin-top: 2.4rem;
                }
            }
        }
    }

    .column-vantagens {
        @include flex(column, flex-start, center, center);

        h2 {
            @include font(2.4rem, 400, 1.4em);
            color: $primary-02;
            letter-spacing: 0;
            margin: .8rem 0;
            text-align: center;
        }

        ul.vantagens-list {
            width: 100%;
            padding-top: 2.4rem;
            position: relative;
            overflow: hidden;

            li {
                @include flex(row, flex-start, flex-start, flex-start);
                margin-bottom: 1.6rem;

                i {
                    span {
                        font-size: 16rem;
                        color: $primary-02;
                    }
                }

                .vantagens-list-infos {
                    @include flex(column, flex-start, flex-start, flex-start);

                    h3 {
                        @include font(2.4rem, 400, 1.4em);
                        color: $secondary-02;
                        letter-spacing: 0;
                    }

                    p {
                        width: 50%;
                        color: $gray-02;
                    }
                }

                &:nth-child(odd) {
                    margin-left: -5rem;

                    .vantagens-list-infos {
                        margin-left: 1.6rem;
                    }
                }

                &:nth-child(even) {
                    margin-right: -5rem;
                    @include flex(row, flex-end, flex-start, flex-start);

                    i {
                        order: 2;
                    }

                    .vantagens-list-infos {
                        @include flex(column, flex-start, flex-end, flex-end);
                        margin-right: 1.6rem;
                        text-align: right;
                    }
                }


                @include md {
                    margin-bottom: 3.2rem;

                    .vantagens-list-infos {
                        p {
                            width: 100%;
                        }
                    }
                }
            }
        }

        @include sm {
            margin-top: 4rem;
        }
    }
}