header {

    .menu-hamburguer {
        display: none;

        @include md {
            @include flex(row, center, center, center);
        }

        .open-menu,
        .close-menu {
            display: inline-block;

            span {
                font-size: 3.2rem;
            }
        }
    }

    .nav-mobile {
        height: var(--header-md-height);
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 3.2rem 0;
        z-index: 9999;
        background: $primary-02;
        box-shadow: 0px 15px 23px -10px rgba(33, 33, 33, 0.7);
        @include flex(column, flex-start, flex-start, flex-start);

        display: none;

        &.active {
            display: flex;
            animation: open-menu .3s ease-out;
        }

        .close-menu {
            span {
                color: $gray-02;
            }
        }

        @include sm {
            .row {
                justify-content: flex-start;
            }

            .logo {
                justify-content: center;
            }

            .btn-list {
                justify-content: center;
                margin-top: 2rem;

                .btn-item {
                    margin: 0 4px;
                }
            }
        }

        @include xxs {
            .logo {
                a {
                    padding-right: 2.4rem;
                    border-right: 2px solid $white-01;
                }

                h3 {
                    display: block;
                }
            }
        }

    }
}