.nav {
    @include flex(column, flex-start, flex-start, flex-start);
    position: relative;

    a {
        width: 100%;
        color: $gray-02;
        @include font(1.8rem, 700, 1.2em);
        padding: .8rem 1.2rem;
        @include flex(row, flex-start, center, center);
        position: relative;

        &::before {
            content: '';
            height: 80%;
            width: 3px;
            background-color: $gray-01;
            @include absolute(10%, auto, auto, 0);
            border-radius: 1rem;
            transform: scale(1, 0);
            transform-origin: 0 0;
            transition: $transition-01;
        }

        i {
            margin-right: 1.6rem;
        }

        &:hover {
            i {
                span {
                    color: $gray-02;
                }
            }

            &::before {
                transform: scale(1, 1);
                transition: $transition-01;
            }
        }

        &.active {
            color: $black-01;
            background-color: $white-02;

            &::before {
                width: 4px;
                background-color: $secondary-01;
                transform: scale(1, 1);
                transition: $transition-01;
            }

            &:hover {
                i {
                    span {
                        color: $black-01;
                    }
                }
            }
        }
    }

    .header-menu-mobile {
        display: none;
    }

    @include md {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5rem 0;
        z-index: 9999;
        background: $white-01;
        box-shadow: 0px 15px 23px -10px rgba(33, 33, 33, 0.7);

        display: none;

        .header-menu-mobile {
            position: relative;
            margin-bottom: 3.2rem;
            display: block;

            .logo {
                width: 16rem;
                margin: 0 auto;

                &::before {
                    display: none;
                }
            }

            .menu-hamburguer {
                @include absolute(50%, auto, auto, 0);
                transform: translateY(-50%);

                a {
                    display: inline-block;
                }

                span {
                    font-size: 4rem;
                    color: $primary-02;
                }
            }

        }

        a {
            padding: 1.6rem 1.2rem;
        }

        &.active {
            animation: open-menu .3s ease-out;
            display: block;
        }
    }
}