form {
    width: 100%;
    position: relative;
    @include flex(row, flex-start, center, flex-start);
    flex-wrap: wrap;

    .container-input {
        @include flex(column, flex-start, flex-start, flex-start);
        flex-wrap: wrap;
        margin-bottom: 2.4rem;
        position: relative;

        input,
        select {
            width: 100%;
            height: 4rem;
            padding: .8rem;
            background-color: $white-02;
            border: none;
            border-bottom: 2px solid $primary-01;

            @include font(1.6rem, 400, 1em);
            color: $black-01;

            &:focus {
                outline: none;
                border-bottom: 2px solid $primary-02;
            }

            &:disabled {
                background-color: $gray-01;
                border-bottom-color: $gray-02;
            }
        }

        label {
            width: 100%;
            text-align: left;

            font-family: $font-02;
            @include font(1.6rem, 400, 1em);
            text-transform: uppercase;
            color: $primary-02;

            margin-bottom: .8rem;

            &:disabled {
                color: $gray-02;
            }
        }

        .select-country {
            margin-bottom: 0;
        }

        .input-validate {
            border-bottom: 2px solid $secondary-02;
            color: $secondary-02;
            position: relative;
        }

        span.input-validate {
            @include font(1.2rem, 700, 1em);
            border: none;
            @include absolute(auto, 0, -.4rem, auto);
            transform: translateY(100%);
        }
    }
}

.select-country {
    width: 100%;
    height: 4rem;
    padding: .8rem;
    background-color: $white-02;
    border: none;
    border-bottom: 2px solid $primary-01;
    cursor: pointer;

    @include flex(row, space-between, center, center);

    &:focus {
        outline: none;
        border-bottom: 2px solid $primary-02;
    }

    &:disabled {
        background-color: $gray-01;
        border-bottom-color: $gray-02;
    }

    img {
        opacity: 1;
        width: 2.5rem;
        height: auto;
    }

    p {
        margin: 0 .4rem;
        font-family: $font-01;
        font-weight: 400;
        color: $gray-02;
    }
}

#select-country-movel:checked~.country-list,
#select-country-phone:checked~.country-list {
    display: block;
}

#select-country-movel:checked~.select-country i,
#select-country-phone:checked~.select-country i {
    transform: rotate(180deg);
    animation: rotateImg .3s ease-out;
}

.country-list {
    width: 100%;
    max-height: 28rem;
    overflow-y: scroll;
    display: none;
    @include absolute(6rem, 50%, auto, auto);
    transform: translateX(50%);
    background-color: #FFFFFF;
    border: 1px solid $secondary-02;
    border-radius: .25rem;
    transition: all .3s ease-out;
    z-index: 99;

    &::-webkit-scrollbar {
        width: .8rem;
        background: $gray-01;
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 1rem;
        border-radius: 1rem;
        background: $white-01;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    }

    li {
        width: auto;
        @include flex(row, space-between, center, center);
        padding: 1.6rem;
        cursor: pointer;

        img {
            width: 2rem;
            margin: 0 .5rem;
        }

        span {
            @include font(1.4rem, 700, 1.2em);
            margin: 0 .5rem;

            &:last-child {
                font-weight: 900;
            }
        }

        &:hover {
            background-color: #f0f0f0;
            transition: all .3s ease-out;
        }
    }
}